# Transborder Freight Data Analysis

## Business Understanding

### 1. Background and Context
Transportation systems are the foundation of modern economies, playing a crucial role in commerce, tourism, and everyday living by facilitating the efficient movement of goods, services, and people. However, as these systems expand and become more intricate, they face growing challenges, such as:

- **Safety concerns** (e.g., accidents and fatalities).
- **Congestion** (leading to delays and economic inefficiencies).
- **Infrastructure stress** (aging systems unable to meet rising demand).
- **Environmental impacts** (e.g., greenhouse gas emissions).
- **Economic disruptions** (e.g., supply chain delays affecting productivity).

The Bureau of Transportation Statistics (BTS) collects and maintains comprehensive data across multiple transportation modes—road, rail, air, and water. This data includes metrics like passenger travel, freight movement, safety incidents, infrastructure capacity, and environmental impacts. These insights are critical for policymakers, transportation agencies, and businesses to design strategies that address inefficiencies, improve safety, and enhance sustainability.

---

### 2. Business Problem
The BTS faces persistent challenges in identifying inefficiencies, mitigating safety issues, and addressing sustainability concerns across transportation networks. Despite its wealth of data, there is a need to:

- Extract actionable insights from this data to inform decision-making.
- Understand underlying patterns and trends in transportation metrics.
- Provide targeted recommendations to optimize the performance of transportation systems.

<!-- ### Key Questions to Address:
1. What are the key inefficiencies in transportation systems, and how can they be mitigated?
2. How can patterns in safety incidents help improve preventive measures?
3. Which transportation modes are under the greatest environmental stress, and how can their sustainability be improved?
4. What are the critical factors contributing to congestion, and how can these be alleviated?
5. How can freight movement and passenger travel be optimized to enhance economic productivity?

--- -->

## 3. Objectives of the Analysis
The primary objective of the project is to analyze the BTS data to:

1. **Identify inefficiencies:** Pinpoint bottlenecks, delays, and underutilized resources across transportation modes.
2. **Improve safety:** Uncover trends and risk factors to develop recommendations for accident prevention.
3. **Optimize capacity:** Determine areas of infrastructure stress and suggest strategies to enhance efficiency.
4. **Enhance sustainability:** Assess the environmental impact of various modes and propose greener alternatives.
5. **Boost economic productivity:** Provide actionable insights to reduce disruptions and improve overall system performance.

By achieving these objectives, the analysis aims to empower BTS to address its challenges effectively and support policymakers, agencies, and businesses in making data-driven decisions.

---

## 4. Key Stakeholders
The project involves several stakeholders:

1. **Bureau of Transportation Statistics (BTS):** The primary client that will use the analysis to improve transportation systems.
2. **Policymakers:** Decision-makers who rely on BTS data to create regulations and allocate resources.
3. **Transportation Agencies:** Organizations managing roads, railways, airways, and waterways that need insights for operational improvements.
4. **Businesses:** Companies dependent on transportation systems for logistics and supply chain management.
5. **Public:** The ultimate beneficiaries of improved safety, efficiency, and sustainability in transportation.

---

## 5. Constraints and Challenges
1. **Data Quality:** Ensuring the BTS data is clean, accurate, and complete for reliable analysis.
2. **Data Volume:** Managing and processing large datasets efficiently.
3. **Complex Metrics:** Understanding and integrating diverse transportation metrics (e.g., safety incidents, emissions, freight movement).
4. **Resource Allocation:** Prioritizing recommendations that are feasible and impactful given budgetary and logistical constraints.
5. **Stakeholder Needs:** Balancing the diverse priorities of stakeholders, from economic productivity to environmental sustainability.

---

## 6. Success Criteria
The success of the project will be determined by:

1. **Insights Generated:** Delivering actionable insights that address the BTS’s challenges and objectives.
2. **Stakeholder Satisfaction:** Meeting or exceeding the expectations of the BTS and other stakeholders.
3. **Impact on Decision-Making:** Enabling data-driven strategies that lead to measurable improvements in transportation systems.
4. **Feasibility of Recommendations:** Providing realistic and implementable recommendations that can be executed within existing constraints.

---

## 7. Scope of Analysis
The analysis will focus on the following dimensions of BTS data:

1. **Passenger Travel:** Patterns and trends in movement across various transportation modes.
2. **Freight Movement:** Identifying inefficiencies and opportunities to optimize logistics.
3. **Safety Incidents:** Analyzing causes and locations of accidents to recommend preventive measures.
4. **Infrastructure Capacity:** Assessing utilization rates and stress points across networks.
5. **Environmental Impacts:** Evaluating greenhouse gas emissions and sustainability metrics.

---

## 8. Deliverables
The final outputs of this phase will include:

1. **Business Understanding Document:** A detailed report summarizing the problem, objectives, stakeholders, and success criteria.
2. **Key Metrics and KPIs:** A list of metrics to be analyzed (e.g., accident rates, freight delays, emissions levels).
3. **Initial Hypotheses:** Proposed areas of inefficiency or risk to be validated during the data understanding and analysis phases.

---

#### Import Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import warnings

warnings.filterwarnings("ignore")

###  Data Loading and Merging

### Loading the 2020 Data

##### January 2020

In [14]:
dot1 = pd.read_csv("../data/2020/Jan 2020/dot1_0120.csv")
dot1_ytd = pd.read_csv("../data/2020/Jan 2020/dot1_ytd_0120.csv")
dot2 =  pd.read_csv("../data/2020/Jan 2020/dot2_0120.csv") 
dot2_ytd = pd.read_csv("../data/2020/Jan 2020/dot2_ytd_0120.csv")
dot3 = pd.read_csv("../data/2020/Jan 2020/dot3_0120.csv")
dot3_ytd = pd.read_csv("../data/2020/Jan 2020/dot3_ytd_0120.csv")
jan_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {jan_2020.shape}")
jan_2020.head()

shape of data: (232500, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,07XX,3,NaN,XA,1220,3302,378,125,1.0,X,1,2020,NaN
1,1,AK,20XX,3,NaN,XA,1220,133362,137,1563,1.0,X,1,2020,NaN
2,1,AK,20XX,3,NaN,XA,1220,49960,66,2631,2.0,X,1,2020,NaN
3,1,AK,20XX,3,NaN,XC,1220,21184,3418,795,1.0,X,1,2020,NaN
4,1,AK,20XX,3,NaN,XM,1220,4253,2,75,1.0,X,1,2020,NaN

##### February-2020

In [13]:
dot1 = pd.read_csv("../data/2020/Feb 2020/dot1_0220.csv")
dot1_ytd = pd.read_csv("../data/2020/Feb 2020/dot1_ytd_0220.csv")
dot2 =  pd.read_csv("../data/2020/Feb 2020/dot2_0220.csv") 
dot2_ytd = pd.read_csv("../data/2020/Feb 2020/dot2_ytd_0220.csv")
dot3 = pd.read_csv("../data/2020/Feb 2020/dot3_0220.csv")
dot3_ytd = pd.read_csv("../data/2020/Feb 2020/dot3_ytd_0220.csv")
feb_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {feb_2020.shape}")
feb_2020.head()

shape of data: (348540, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0901,5,NaN,XO,1220,2701,0,7,1.0,X,2,2020,NaN
1,1,AK,09XX,3,NaN,XO,1220,11083,187,0,1.0,X,2,2020,NaN
2,1,AK,19XX,1,XX,NaN,2010,698682,993848,0,1.0,0,2,2020,NaN
3,1,AK,20XX,3,NaN,XA,1220,31846,138,1076,1.0,X,2,2020,NaN
4,1,AK,20XX,3,NaN,XA,1220,22927,34,985,2.0,X,2,2020,NaN

##### March 2020

In [12]:
dot1 = pd.read_csv("../data/2020/Mar 2020/dot1_0320.csv")
dot1_ytd = pd.read_csv("../data/2020/Mar 2020/dot1_ytd_0320.csv")
dot2 =  pd.read_csv("../data/2020/Mar 2020/dot2_0320.csv") 
dot2_ytd = pd.read_csv("../data/2020/Mar 2020/dot2_ytd_0320.csv")
dot3 = pd.read_csv("../data/2020/Mar 2020/dot3_0320.csv")
dot3_ytd = pd.read_csv("../data/2020/Mar 2020/dot3_ytd_0320.csv")
mar_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {mar_2020.shape}")
mar_2020.head()

shape of data: (470959, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,20XX,3,NaN,XA,1220,26593,460,2133,1.0,X,3,2020,NaN
1,1,AK,20XX,3,NaN,XA,1220,41417,137,713,2.0,X,3,2020,NaN
2,1,AK,20XX,3,NaN,XC,1220,41554,35,526,1.0,X,3,2020,NaN
3,1,AK,20XX,3,NaN,XC,1220,7175,13,341,2.0,X,3,2020,NaN
4,1,AK,20XX,3,NaN,XM,1220,14283,387,513,1.0,X,3,2020,NaN

##### April 2020

In [11]:
dot1 = pd.read_csv("../data/2020/Apr 2020/dot1_0420.csv")
dot1_ytd = pd.read_csv("../data/2020/Apr 2020/dot1_ytd_0420.csv")
dot2 =  pd.read_csv("../data/2020/Apr 2020/dot2_0420.csv") 
dot2_ytd = pd.read_csv("../data/2020/Apr 2020/dot2_ytd_0420.csv")
dot3 = pd.read_csv("../data/2020/Apr 2020/dot3_0420.csv")
dot3_ytd = pd.read_csv("../data/2020/Apr 2020/dot3_ytd_0420.csv")
apr_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {apr_2020.shape}")
apr_2020.head()

shape of data: (561045, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0115,5,NaN,XB,1220,4660,0,67,2.0,X,4,2020,NaN
1,1,AK,0901,5,NaN,XO,1220,14360,0,282,1.0,X,4,2020,NaN
2,1,AK,20XX,1,XX,NaN,2010,4293733,24971000,0,1.0,0,4,2020,NaN
3,1,AK,20XX,3,NaN,XA,1220,28283,443,563,1.0,X,4,2020,NaN
4,1,AK,20XX,3,NaN,XA,1220,29848,69,538,2.0,X,4,2020,NaN

##### May 2020

In [15]:
dot1 = pd.read_csv("../data/2020/May 2020/dot1_0520.csv")
dot1_ytd = pd.read_csv("../data/2020/May 2020/dot1_ytd_0520.csv")
dot2 =  pd.read_csv("../data/2020/May 2020/dot2_0520.csv") 
dot2_ytd = pd.read_csv("../data/2020/May 2020/dot2_ytd_0520.csv")
dot3 = pd.read_csv("../data/2020/May 2020/dot3_0520.csv")
dot3_ytd = pd.read_csv("../data/2020/May 2020/dot3_ytd_0520.csv")
may_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {may_2020.shape}")
may_2020.head()

shape of data: (665265, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,1012,3,NaN,XO,1220,32529,172,635,1.0,X,5,2020,NaN
1,1,AK,2006,3,NaN,XM,1220,20151,44,7,1.0,X,5,2020,NaN
2,1,AK,20XX,3,NaN,XA,1220,19925,102,229,1.0,X,5,2020,NaN
3,1,AK,20XX,3,NaN,XC,1220,40526,395,1096,1.0,X,5,2020,NaN
4,1,AK,20XX,3,NaN,XC,1220,165114,676,2379,2.0,X,5,2020,NaN

##### June 2020

In [16]:
dot1 = pd.read_csv("../data/2020/June 2020/dot1_0620.csv")
dot1_ytd = pd.read_csv("../data/2020/June 2020/dot1_ytd_0620.csv")
dot2 =  pd.read_csv("../data/2020/June 2020/dot2_0620.csv") 
dot2_ytd = pd.read_csv("../data/2020/June 2020/dot2_ytd_0620.csv")
dot3 = pd.read_csv("../data/2020/June 2020/dot3_0620.csv")
dot3_ytd = pd.read_csv("../data/2020/June 2020/dot3_ytd_0620.csv")
june_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {june_2020.shape}")
june_2020.head()

shape of data: (782671, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0712,5,NaN,XQ,1220,2864,0,19,1.0,X,6,2020,NaN
1,1,AK,20XX,3,NaN,XA,1220,2938,336,67,1.0,X,6,2020,NaN
2,1,AK,20XX,3,NaN,XA,1220,7957,133,138,2.0,X,6,2020,NaN
3,1,AK,20XX,3,NaN,XC,1220,22874,2253,591,1.0,X,6,2020,NaN
4,1,AK,20XX,3,NaN,XC,1220,7439,1,108,2.0,X,6,2020,NaN

##### July 2020

In [17]:
dot1 = pd.read_csv("../data/2020/July 2020/dot1_0720.csv")
dot1_ytd = pd.read_csv("../data/2020/July 2020/dot1_ytd_0720.csv")
dot2 =  pd.read_csv("../data/2020/July 2020/dot2_0720.csv") 
dot2_ytd = pd.read_csv("../data/2020/July 2020/dot2_ytd_0720.csv")
dot3 = pd.read_csv("../data/2020/July 2020/dot3_0720.csv")
dot3_ytd = pd.read_csv("../data/2020/July 2020/dot3_ytd_0720.csv")
july_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {july_2020.shape}")
july_2020.head()

shape of data: (898774, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0712,5,NaN,XQ,1220,12182,0,461,1.0,X,7,2020,NaN
1,1,AK,20XX,3,NaN,XA,1220,29921,1209,202,1.0,X,7,2020,NaN
2,1,AK,20XX,3,NaN,XA,1220,2590,16,74,2.0,X,7,2020,NaN
3,1,AK,20XX,3,NaN,XC,1220,58967,7843,857,1.0,X,7,2020,NaN
4,1,AK,20XX,3,NaN,XC,1220,7201,1,133,2.0,X,7,2020,NaN

##### August 2020

In [18]:
dot1 = pd.read_csv("../data/2020/August 2020/dot1_0820.csv")
dot1_ytd = pd.read_csv("../data/2020/August 2020/dot1_ytd_0820.csv")
dot2 =  pd.read_csv("../data/2020/August 2020/dot2_0820.csv") 
dot2_ytd = pd.read_csv("../data/2020/August 2020/dot2_ytd_0820.csv")
dot3 = pd.read_csv("../data/2020/August 2020/dot3_0820.csv")
dot3_ytd = pd.read_csv("../data/2020/August 2020/dot3_ytd_0820.csv")
aug_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {aug_2020.shape}")
aug_2020.head()

shape of data: (1013556, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0106,5,NaN,XB,1220,37700,0,113,1.0,X,8,2020,NaN
1,1,AK,0115,5,NaN,XB,1220,16109,0,1512,1.0,X,8,2020,NaN
2,1,AK,0712,5,NaN,XQ,1220,17574,0,666,1.0,X,8,2020,NaN
3,1,AK,20XX,3,NaN,XA,1220,8776,22,137,1.0,X,8,2020,NaN
4,1,AK,20XX,3,NaN,XC,1220,3999,15,188,1.0,X,8,2020,NaN

##### September 2020

In [19]:
dot1 = pd.read_csv("../data/2020/September 2020/dot1_0920.csv")
dot1_ytd = pd.read_csv("../data/2020/September 2020/dot1_ytd_0920.csv")
dot2 =  pd.read_csv("../data/2020/September 2020/dot2_0920.csv") 
dot2_ytd = pd.read_csv("../data/2020/September 2020/dot2_ytd_0920.csv")
dot3 = pd.read_csv("../data/2020/September 2020/dot3_0920.csv")
dot3_ytd = pd.read_csv("../data/2020/September 2020/dot3_ytd_0920.csv")
sept_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {sept_2020.shape}")
sept_2020.head()

shape of data: (1131457, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0115,5,NaN,XB,1220,3665,0,399,1.0,X,9,2020,NaN
1,1,AK,0708,5,NaN,XO,1220,6786,0,96,1.0,X,9,2020,NaN
2,1,AK,0712,5,NaN,XQ,1220,11712,0,443,1.0,X,9,2020,NaN
3,1,AK,20XX,3,NaN,XA,1220,6427,61,197,1.0,X,9,2020,NaN
4,1,AK,20XX,3,NaN,XA,1220,6986,129,7,2.0,X,9,2020,NaN

### Data Understanding

### Exploratory Data Analysis

#### Univariate Analysis

### Bivariate Analysis

#### Multivariate Analysis

### Data Cleaning

### Data Preparation

### Hypothesis Testing

### Answering Business Questions

### Dashboarding

### Conclusion