# Transborder Freight Data Analysis

## Business Understanding

### 1. Background and Context
Transportation systems are the foundation of modern economies, playing a crucial role in commerce, tourism, and everyday living by facilitating the efficient movement of goods, services, and people. However, as these systems expand and become more intricate, they face growing challenges, such as:

- **Safety concerns** (e.g., accidents and fatalities).
- **Congestion** (leading to delays and economic inefficiencies).
- **Infrastructure stress** (aging systems unable to meet rising demand).
- **Environmental impacts** (e.g., greenhouse gas emissions).
- **Economic disruptions** (e.g., supply chain delays affecting productivity).

The Bureau of Transportation Statistics (BTS) collects and maintains comprehensive data across multiple transportation modes—road, rail, air, and water. This data includes metrics like passenger travel, freight movement, safety incidents, infrastructure capacity, and environmental impacts. These insights are critical for policymakers, transportation agencies, and businesses to design strategies that address inefficiencies, improve safety, and enhance sustainability.

---

### 2. Business Problem
The BTS faces persistent challenges in identifying inefficiencies, mitigating safety issues, and addressing sustainability concerns across transportation networks. Despite its wealth of data, there is a need to:

- Extract actionable insights from this data to inform decision-making.
- Understand underlying patterns and trends in transportation metrics.
- Provide targeted recommendations to optimize the performance of transportation systems.

<!-- ### Key Questions to Address:
1. What are the key inefficiencies in transportation systems, and how can they be mitigated?
2. How can patterns in safety incidents help improve preventive measures?
3. Which transportation modes are under the greatest environmental stress, and how can their sustainability be improved?
4. What are the critical factors contributing to congestion, and how can these be alleviated?
5. How can freight movement and passenger travel be optimized to enhance economic productivity?

--- -->

## 3. Objectives of the Analysis
The primary objective of the project is to analyze the BTS data to:

1. **Identify inefficiencies:** Pinpoint bottlenecks, delays, and underutilized resources across transportation modes.
2. **Improve safety:** Uncover trends and risk factors to develop recommendations for accident prevention.
3. **Optimize capacity:** Determine areas of infrastructure stress and suggest strategies to enhance efficiency.
4. **Enhance sustainability:** Assess the environmental impact of various modes and propose greener alternatives.
5. **Boost economic productivity:** Provide actionable insights to reduce disruptions and improve overall system performance.

By achieving these objectives, the analysis aims to empower BTS to address its challenges effectively and support policymakers, agencies, and businesses in making data-driven decisions.

---

## 4. Key Stakeholders
The project involves several stakeholders:

1. **Bureau of Transportation Statistics (BTS):** The primary client that will use the analysis to improve transportation systems.
2. **Policymakers:** Decision-makers who rely on BTS data to create regulations and allocate resources.
3. **Transportation Agencies:** Organizations managing roads, railways, airways, and waterways that need insights for operational improvements.
4. **Businesses:** Companies dependent on transportation systems for logistics and supply chain management.
5. **Public:** The ultimate beneficiaries of improved safety, efficiency, and sustainability in transportation.

---

## 5. Constraints and Challenges
1. **Data Quality:** Ensuring the BTS data is clean, accurate, and complete for reliable analysis.
2. **Data Volume:** Managing and processing large datasets efficiently.
3. **Complex Metrics:** Understanding and integrating diverse transportation metrics (e.g., safety incidents, emissions, freight movement).
4. **Resource Allocation:** Prioritizing recommendations that are feasible and impactful given budgetary and logistical constraints.
5. **Stakeholder Needs:** Balancing the diverse priorities of stakeholders, from economic productivity to environmental sustainability.

---

## 6. Success Criteria
The success of the project will be determined by:

1. **Insights Generated:** Delivering actionable insights that address the BTS’s challenges and objectives.
2. **Stakeholder Satisfaction:** Meeting or exceeding the expectations of the BTS and other stakeholders.
3. **Impact on Decision-Making:** Enabling data-driven strategies that lead to measurable improvements in transportation systems.
4. **Feasibility of Recommendations:** Providing realistic and implementable recommendations that can be executed within existing constraints.

---

## 7. Scope of Analysis
The analysis will focus on the following dimensions of BTS data:

1. **Passenger Travel:** Patterns and trends in movement across various transportation modes.
2. **Freight Movement:** Identifying inefficiencies and opportunities to optimize logistics.
3. **Safety Incidents:** Analyzing causes and locations of accidents to recommend preventive measures.
4. **Infrastructure Capacity:** Assessing utilization rates and stress points across networks.
5. **Environmental Impacts:** Evaluating greenhouse gas emissions and sustainability metrics.

---

## 8. Deliverables
The final outputs of this phase will include:

1. **Business Understanding Document:** A detailed report summarizing the problem, objectives, stakeholders, and success criteria.
2. **Key Metrics and KPIs:** A list of metrics to be analyzed (e.g., accident rates, freight delays, emissions levels).
3. **Initial Hypotheses:** Proposed areas of inefficiency or risk to be validated during the data understanding and analysis phases.

---

#### Import Necessary Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import warnings

warnings.filterwarnings("ignore")

###  Data Loading and Merging

### Loading the 2020 Data

##### January 2020

In [2]:
dot1 = pd.read_csv("../data/2020/Jan 2020/dot1_0120.csv")
dot1_ytd = pd.read_csv("../data/2020/Jan 2020/dot1_ytd_0120.csv")
dot2 =  pd.read_csv("../data/2020/Jan 2020/dot2_0120.csv") 
dot2_ytd = pd.read_csv("../data/2020/Jan 2020/dot2_ytd_0120.csv")
dot3 = pd.read_csv("../data/2020/Jan 2020/dot3_0120.csv")
dot3_ytd = pd.read_csv("../data/2020/Jan 2020/dot3_ytd_0120.csv")
jan_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {jan_2020.shape}")
jan_2020.head()

shape of data: (232500, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,07XX,3,NaN,XA,1220,3302,378,125,1.0,X,1,2020,NaN
1,1,AK,20XX,3,NaN,XA,1220,133362,137,1563,1.0,X,1,2020,NaN
2,1,AK,20XX,3,NaN,XA,1220,49960,66,2631,2.0,X,1,2020,NaN
3,1,AK,20XX,3,NaN,XC,1220,21184,3418,795,1.0,X,1,2020,NaN
4,1,AK,20XX,3,NaN,XM,1220,4253,2,75,1.0,X,1,2020,NaN

##### February-2020

In [3]:
dot1 = pd.read_csv("../data/2020/Feb 2020/dot1_0220.csv")
dot1_ytd = pd.read_csv("../data/2020/Feb 2020/dot1_ytd_0220.csv")
dot2 =  pd.read_csv("../data/2020/Feb 2020/dot2_0220.csv") 
dot2_ytd = pd.read_csv("../data/2020/Feb 2020/dot2_ytd_0220.csv")
dot3 = pd.read_csv("../data/2020/Feb 2020/dot3_0220.csv")
dot3_ytd = pd.read_csv("../data/2020/Feb 2020/dot3_ytd_0220.csv")
feb_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {feb_2020.shape}")
feb_2020.head()

shape of data: (348540, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0901,5,NaN,XO,1220,2701,0,7,1.0,X,2,2020,NaN
1,1,AK,09XX,3,NaN,XO,1220,11083,187,0,1.0,X,2,2020,NaN
2,1,AK,19XX,1,XX,NaN,2010,698682,993848,0,1.0,0,2,2020,NaN
3,1,AK,20XX,3,NaN,XA,1220,31846,138,1076,1.0,X,2,2020,NaN
4,1,AK,20XX,3,NaN,XA,1220,22927,34,985,2.0,X,2,2020,NaN

##### March 2020

In [4]:
dot1 = pd.read_csv("../data/2020/Mar 2020/dot1_0320.csv")
dot1_ytd = pd.read_csv("../data/2020/Mar 2020/dot1_ytd_0320.csv")
dot2 =  pd.read_csv("../data/2020/Mar 2020/dot2_0320.csv") 
dot2_ytd = pd.read_csv("../data/2020/Mar 2020/dot2_ytd_0320.csv")
dot3 = pd.read_csv("../data/2020/Mar 2020/dot3_0320.csv")
dot3_ytd = pd.read_csv("../data/2020/Mar 2020/dot3_ytd_0320.csv")
mar_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {mar_2020.shape}")
mar_2020.head()

shape of data: (470959, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,20XX,3,NaN,XA,1220,26593,460,2133,1.0,X,3,2020,NaN
1,1,AK,20XX,3,NaN,XA,1220,41417,137,713,2.0,X,3,2020,NaN
2,1,AK,20XX,3,NaN,XC,1220,41554,35,526,1.0,X,3,2020,NaN
3,1,AK,20XX,3,NaN,XC,1220,7175,13,341,2.0,X,3,2020,NaN
4,1,AK,20XX,3,NaN,XM,1220,14283,387,513,1.0,X,3,2020,NaN

##### April 2020

In [5]:
dot1 = pd.read_csv("../data/2020/Apr 2020/dot1_0420.csv")
dot1_ytd = pd.read_csv("../data/2020/Apr 2020/dot1_ytd_0420.csv")
dot2 =  pd.read_csv("../data/2020/Apr 2020/dot2_0420.csv") 
dot2_ytd = pd.read_csv("../data/2020/Apr 2020/dot2_ytd_0420.csv")
dot3 = pd.read_csv("../data/2020/Apr 2020/dot3_0420.csv")
dot3_ytd = pd.read_csv("../data/2020/Apr 2020/dot3_ytd_0420.csv")
apr_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {apr_2020.shape}")
apr_2020.head()

shape of data: (561045, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0115,5,NaN,XB,1220,4660,0,67,2.0,X,4,2020,NaN
1,1,AK,0901,5,NaN,XO,1220,14360,0,282,1.0,X,4,2020,NaN
2,1,AK,20XX,1,XX,NaN,2010,4293733,24971000,0,1.0,0,4,2020,NaN
3,1,AK,20XX,3,NaN,XA,1220,28283,443,563,1.0,X,4,2020,NaN
4,1,AK,20XX,3,NaN,XA,1220,29848,69,538,2.0,X,4,2020,NaN

##### May 2020

In [6]:
dot1 = pd.read_csv("../data/2020/May 2020/dot1_0520.csv")
dot1_ytd = pd.read_csv("../data/2020/May 2020/dot1_ytd_0520.csv")
dot2 =  pd.read_csv("../data/2020/May 2020/dot2_0520.csv") 
dot2_ytd = pd.read_csv("../data/2020/May 2020/dot2_ytd_0520.csv")
dot3 = pd.read_csv("../data/2020/May 2020/dot3_0520.csv")
dot3_ytd = pd.read_csv("../data/2020/May 2020/dot3_ytd_0520.csv")
may_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {may_2020.shape}")
may_2020.head()

shape of data: (665265, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,1012,3,NaN,XO,1220,32529,172,635,1.0,X,5,2020,NaN
1,1,AK,2006,3,NaN,XM,1220,20151,44,7,1.0,X,5,2020,NaN
2,1,AK,20XX,3,NaN,XA,1220,19925,102,229,1.0,X,5,2020,NaN
3,1,AK,20XX,3,NaN,XC,1220,40526,395,1096,1.0,X,5,2020,NaN
4,1,AK,20XX,3,NaN,XC,1220,165114,676,2379,2.0,X,5,2020,NaN

##### June 2020

In [7]:
dot1 = pd.read_csv("../data/2020/June 2020/dot1_0620.csv")
dot1_ytd = pd.read_csv("../data/2020/June 2020/dot1_ytd_0620.csv")
dot2 =  pd.read_csv("../data/2020/June 2020/dot2_0620.csv") 
dot2_ytd = pd.read_csv("../data/2020/June 2020/dot2_ytd_0620.csv")
dot3 = pd.read_csv("../data/2020/June 2020/dot3_0620.csv")
dot3_ytd = pd.read_csv("../data/2020/June 2020/dot3_ytd_0620.csv")
june_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {june_2020.shape}")
june_2020.head()

shape of data: (782671, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0712,5,NaN,XQ,1220,2864,0,19,1.0,X,6,2020,NaN
1,1,AK,20XX,3,NaN,XA,1220,2938,336,67,1.0,X,6,2020,NaN
2,1,AK,20XX,3,NaN,XA,1220,7957,133,138,2.0,X,6,2020,NaN
3,1,AK,20XX,3,NaN,XC,1220,22874,2253,591,1.0,X,6,2020,NaN
4,1,AK,20XX,3,NaN,XC,1220,7439,1,108,2.0,X,6,2020,NaN

##### July 2020

In [8]:
dot1 = pd.read_csv("../data/2020/July 2020/dot1_0720.csv")
dot1_ytd = pd.read_csv("../data/2020/July 2020/dot1_ytd_0720.csv")
dot2 =  pd.read_csv("../data/2020/July 2020/dot2_0720.csv") 
dot2_ytd = pd.read_csv("../data/2020/July 2020/dot2_ytd_0720.csv")
dot3 = pd.read_csv("../data/2020/July 2020/dot3_0720.csv")
dot3_ytd = pd.read_csv("../data/2020/July 2020/dot3_ytd_0720.csv")
july_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {july_2020.shape}")
july_2020.head()

shape of data: (898774, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0712,5,NaN,XQ,1220,12182,0,461,1.0,X,7,2020,NaN
1,1,AK,20XX,3,NaN,XA,1220,29921,1209,202,1.0,X,7,2020,NaN
2,1,AK,20XX,3,NaN,XA,1220,2590,16,74,2.0,X,7,2020,NaN
3,1,AK,20XX,3,NaN,XC,1220,58967,7843,857,1.0,X,7,2020,NaN
4,1,AK,20XX,3,NaN,XC,1220,7201,1,133,2.0,X,7,2020,NaN

##### August 2020

In [9]:
dot1 = pd.read_csv("../data/2020/August 2020/dot1_0820.csv")
dot1_ytd = pd.read_csv("../data/2020/August 2020/dot1_ytd_0820.csv")
dot2 =  pd.read_csv("../data/2020/August 2020/dot2_0820.csv") 
dot2_ytd = pd.read_csv("../data/2020/August 2020/dot2_ytd_0820.csv")
dot3 = pd.read_csv("../data/2020/August 2020/dot3_0820.csv")
dot3_ytd = pd.read_csv("../data/2020/August 2020/dot3_ytd_0820.csv")
aug_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {aug_2020.shape}")
aug_2020.head()

shape of data: (1013556, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0106,5,NaN,XB,1220,37700,0,113,1.0,X,8,2020,NaN
1,1,AK,0115,5,NaN,XB,1220,16109,0,1512,1.0,X,8,2020,NaN
2,1,AK,0712,5,NaN,XQ,1220,17574,0,666,1.0,X,8,2020,NaN
3,1,AK,20XX,3,NaN,XA,1220,8776,22,137,1.0,X,8,2020,NaN
4,1,AK,20XX,3,NaN,XC,1220,3999,15,188,1.0,X,8,2020,NaN

##### September 2020

In [10]:
dot1 = pd.read_csv("../data/2020/September 2020/dot1_0920.csv")
dot1_ytd = pd.read_csv("../data/2020/September 2020/dot1_ytd_0920.csv")
dot2 =  pd.read_csv("../data/2020/September 2020/dot2_0920.csv") 
dot2_ytd = pd.read_csv("../data/2020/September 2020/dot2_ytd_0920.csv")
dot3 = pd.read_csv("../data/2020/September 2020/dot3_0920.csv")
dot3_ytd = pd.read_csv("../data/2020/September 2020/dot3_ytd_0920.csv")
sept_2020 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {sept_2020.shape}")
sept_2020.head()

shape of data: (1131457, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0115,5,NaN,XB,1220,3665,0,399,1.0,X,9,2020,NaN
1,1,AK,0708,5,NaN,XO,1220,6786,0,96,1.0,X,9,2020,NaN
2,1,AK,0712,5,NaN,XQ,1220,11712,0,443,1.0,X,9,2020,NaN
3,1,AK,20XX,3,NaN,XA,1220,6427,61,197,1.0,X,9,2020,NaN
4,1,AK,20XX,3,NaN,XA,1220,6986,129,7,2.0,X,9,2020,NaN

### Concatenate All 2020 Datasets

In [11]:
df_2020 = pd.concat([jan_2020,feb_2020,mar_2020,apr_2020,may_2020,june_2020,july_2020,aug_2020,sept_2020],axis=0)

# Check the shape of the data
print(f"shape of data: {df_2020.shape}")

shape of data: (6104767, 15)

In [12]:
# Check the first few rows of the data
df_2020.head()

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,07XX,3,NaN,XA,1220,3302,378,125,1.0,X,1,2020,NaN
1,1,AK,20XX,3,NaN,XA,1220,133362,137,1563,1.0,X,1,2020,NaN
2,1,AK,20XX,3,NaN,XA,1220,49960,66,2631,2.0,X,1,2020,NaN
3,1,AK,20XX,3,NaN,XC,1220,21184,3418,795,1.0,X,1,2020,NaN
4,1,AK,20XX,3,NaN,XM,1220,4253,2,75,1.0,X,1,2020,NaN

### Loading the 2021 Data

##### January 2021

In [13]:
dot1 = pd.read_csv("../data/2021/January 2021/dot1_0121.csv")
dot1_ytd = pd.read_csv("../data/2021/January 2021/dot1_ytd_0121.csv")
dot2 =  pd.read_csv("../data/2021/January 2021/dot2_0121.csv") 
dot2_ytd = pd.read_csv("../data/2021/January 2021/dot2_ytd_0121.csv")
dot3 = pd.read_csv("../data/2021/January 2021/dot3_0121.csv")
dot3_ytd = pd.read_csv("../data/2021/January 2021/dot3_ytd_0121.csv")
jan_2021 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {jan_2021.shape}")
jan_2021.head()

shape of data: (229232, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,18XX,1,XX,NaN,2010,5940,1136,0,1.0,1,1,2021,NaN
1,1,AK,20XX,3,NaN,XA,1220,7490,26,155,1.0,X,1,2021,NaN
2,1,AK,20XX,3,NaN,XA,1220,24885,13,78,2.0,X,1,2021,NaN
3,1,AK,20XX,3,NaN,XC,1220,16415,139,355,1.0,X,1,2021,NaN
4,1,AK,20XX,3,NaN,XC,1220,9025,5,35,2.0,X,1,2021,NaN

##### February 2021

In [14]:
dot1 = pd.read_csv("../data/2021/February 2021/dot1_0221.csv")
dot1_ytd = pd.read_csv("../data/2021/February 2021/dot1_ytd_0221.csv")
dot2 =  pd.read_csv("../data/2021/February 2021/dot2_0221.csv") 
dot2_ytd = pd.read_csv("../data/2021/February 2021/dot2_ytd_0221.csv")
dot3 = pd.read_csv("../data/2021/February 2021/dot3_0221.csv")
dot3_ytd = pd.read_csv("../data/2021/February 2021/dot3_ytd_0221.csv")
feb_2021 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {feb_2021.shape}")
feb_2021.head()

shape of data: (342454, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0708,5,NaN,XO,1220,24002,0,0,1.0,X,2,2021,NaN
1,1,AK,20XX,3,NaN,XA,1220,16204,55,0,1.0,X,2,2021,NaN
2,1,AK,20XX,3,NaN,XC,1220,30261,832,0,1.0,X,2,2021,NaN
3,1,AK,20XX,3,NaN,XC,1220,46635,99,0,2.0,X,2,2021,NaN
4,1,AK,20XX,3,NaN,XM,1220,5743,389,0,1.0,X,2,2021,NaN

##### March 2021

In [15]:
dot1 = pd.read_csv("../data/2021/March 2021/dot1_0321.csv")
dot1_ytd = pd.read_csv("../data/2021/March 2021/dot1_ytd_0321.csv")
dot2 =  pd.read_csv("../data/2021/March 2021/dot2_0321.csv") 
dot2_ytd = pd.read_csv("../data/2021/March 2021/dot2_ytd_0321.csv")
dot3 = pd.read_csv("../data/2021/March 2021/dot3_0321.csv")
dot3_ytd = pd.read_csv("../data/2021/March 2021/dot3_ytd_0321.csv")
mar_2021 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {mar_2021.shape}")
mar_2021.head()

shape of data: (475385, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0901,5,NaN,XO,1220,16667,0,320,1.0,X,3,2021,NaN
1,1,AK,18XX,1,XX,NaN,2010,37930,34473,0,1.0,1,3,2021,NaN
2,1,AK,20XX,3,NaN,XA,1220,45607,3847,688,1.0,X,3,2021,NaN
3,1,AK,20XX,3,NaN,XC,1220,56248,833,2322,1.0,X,3,2021,NaN
4,1,AK,20XX,3,NaN,XC,1220,36797,21,158,2.0,X,3,2021,NaN

##### April 2021

In [16]:
dot1 = pd.read_csv("../data/2021/April 2021/dot1_0421.csv")
dot1_ytd = pd.read_csv("../data/2021/April 2021/dot1_ytd_0421.csv")
dot2 =  pd.read_csv("../data/2021/April 2021/dot2_0421.csv") 
dot2_ytd = pd.read_csv("../data/2021/April 2021/dot2_ytd_0421.csv")
dot3 = pd.read_csv("../data/2021/April 2021/dot3_0421.csv")
dot3_ytd = pd.read_csv("../data/2021/April 2021/dot3_ytd_0421.csv")
apr_2021 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {apr_2021.shape}")
apr_2021.head()

shape of data: (593968, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,07XX,3,NaN,XO,1220,13504,47,401,1.0,X,4,2021,NaN
1,1,AK,18XX,1,XX,NaN,2010,6668,425,0,1.0,1,4,2021,NaN
2,1,AK,20XX,3,NaN,XA,1220,5108,584,80,1.0,X,4,2021,NaN
3,1,AK,20XX,3,NaN,XC,1220,24397,800,1002,1.0,X,4,2021,NaN
4,1,AK,20XX,3,NaN,XC,1220,18429,101,80,2.0,X,4,2021,NaN

##### May 2021

In [17]:
dot1 = pd.read_csv("../data/2021/May 2021/dot1_0521.csv")
dot1_ytd = pd.read_csv("../data/2021/May 2021/dot1_ytd_0521.csv")
dot2 =  pd.read_csv("../data/2021/May 2021/dot2_0521.csv") 
dot2_ytd = pd.read_csv("../data/2021/May 2021/dot2_ytd_0521.csv")
dot3 = pd.read_csv("../data/2021/May 2021/dot3_0521.csv")
dot3_ytd = pd.read_csv("../data/2021/May 2021/dot3_ytd_0521.csv")
may_2021 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {may_2021.shape}")
may_2021.head()

shape of data: (713828, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,1704,3,NaN,XC,1220,9711,4,0,1.0,X,5,2021,NaN
1,1,AK,20XX,3,NaN,XA,1220,37590,109,493,1.0,X,5,2021,NaN
2,1,AK,20XX,3,NaN,XA,1220,48833,273,374,2.0,X,5,2021,NaN
3,1,AK,20XX,3,NaN,XC,1220,29724,70,2378,1.0,X,5,2021,NaN
4,1,AK,20XX,3,NaN,XC,1220,18271,2,32,2.0,X,5,2021,NaN

#### June 2021

In [18]:
dot1 = pd.read_csv("../data/2021/June 2021/dot1_0621.csv")
dot1_ytd = pd.read_csv("../data/2021/June 2021/dot1_ytd_0621.csv")
dot2 =  pd.read_csv("../data/2021/June 2021/dot2_0621.csv") 
dot2_ytd = pd.read_csv("../data/2021/June 2021/dot2_ytd_0621.csv")
dot3 = pd.read_csv("../data/2021/June 2021/dot3_0621.csv")
dot3_ytd = pd.read_csv("../data/2021/June 2021/dot3_ytd_0621.csv")
june_2021 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {june_2021.shape}")
june_2021.head()

shape of data: (836618, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0115,5,NaN,XB,1220,5715,0,194,1.0,X,6,2021,NaN
1,1,AK,0704,5,NaN,XO,1220,5993,0,130,1.0,X,6,2021,NaN
2,1,AK,0712,5,NaN,XQ,1220,59925,0,593,2.0,X,6,2021,NaN
3,1,AK,07XX,3,NaN,XO,1220,24660,18,2788,1.0,X,6,2021,NaN
4,1,AK,19XX,1,XX,NaN,2010,184564,206800,0,1.0,0,6,2021,NaN

##### July 2021

In [19]:
dot1 = pd.read_csv("../data/2021/July 2021/dot1_0721.csv")
dot1_ytd = pd.read_csv("../data/2021/July 2021/dot1_ytd_0721.csv")
dot2 =  pd.read_csv("../data/2021/July 2021/dot2_0721.csv") 
dot2_ytd = pd.read_csv("../data/2021/July 2021/dot2_ytd_0721.csv")
dot3 = pd.read_csv("../data/2021/July 2021/dot3_0721.csv")
dot3_ytd = pd.read_csv("../data/2021/July 2021/dot3_ytd_0721.csv")
july_2021 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {july_2021.shape}")
july_2021.head()

shape of data: (955955, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0115,5,NaN,XB,1220,14719,0,501,2.0,X,7,2021,NaN
1,1,AK,0708,5,NaN,XO,1220,78476,0,777,1.0,X,7,2021,NaN
2,1,AK,19XX,1,XX,NaN,2010,20275,20310,0,1.0,0,7,2021,NaN
3,1,AK,20XX,3,NaN,XA,1220,4094,36,51,1.0,X,7,2021,NaN
4,1,AK,20XX,3,NaN,XA,1220,67827,23,1335,2.0,X,7,2021,NaN

##### August 2021

In [20]:
dot1 = pd.read_csv("../data/2021/August 2021/dot1_0821.csv")
dot1_ytd = pd.read_csv("../data/2021/August 2021/dot1_ytd_0821.csv")
dot2 =  pd.read_csv("../data/2021/August 2021/dot2_0821.csv") 
dot2_ytd = pd.read_csv("../data/2021/August 2021/dot2_ytd_0821.csv")
dot3 = pd.read_csv("../data/2021/August 2021/dot3_0821.csv")
dot3_ytd = pd.read_csv("../data/2021/August 2021/dot3_ytd_0821.csv")
aug_2021 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {aug_2021.shape}")
aug_2021.head()

shape of data: (1077011, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0102,5,NaN,XY,1220,15135,0,92,1.0,X,8,2021,NaN
1,1,AK,0106,5,NaN,XB,1220,761533,0,16680,1.0,X,8,2021,NaN
2,1,AK,0712,5,NaN,XQ,1220,145561,0,1441,2.0,X,8,2021,NaN
3,1,AK,19XX,1,NaN,XB,1220,6616561,3337136,144961,1.0,X,8,2021,NaN
4,1,AK,20XX,3,NaN,XA,1220,85906,1440,4129,1.0,X,8,2021,NaN

##### September 2021

In [21]:
dot1 = pd.read_csv("../data/2021/Sept 2021/dot1_0921.csv")
dot1_ytd = pd.read_csv("../data/2021/Sept 2021/dot1_ytd_0921.csv")
dot2 =  pd.read_csv("../data/2021/Sept 2021/dot2_0921.csv") 
dot2_ytd = pd.read_csv("../data/2021/Sept 2021/dot2_ytd_0921.csv")
dot3 = pd.read_csv("../data/2021/Sept 2021/dot3_0921.csv")
dot3_ytd = pd.read_csv("../data/2021/Sept 2021/dot3_ytd_0921.csv")
sept_2021 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {sept_2021.shape}")
sept_2021.head()

shape of data: (1196510, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,20XX,1,NaN,XB,1220,20605818,7776129,461333,1.0,X,9,2021,NaN
1,1,AK,20XX,3,NaN,XA,1220,22517,484,756,1.0,X,9,2021,NaN
2,1,AK,20XX,3,NaN,XC,1220,32349,785,1232,1.0,X,9,2021,NaN
3,1,AK,20XX,3,NaN,XM,1220,16824,1645,187,1.0,X,9,2021,NaN
4,1,AK,20XX,3,NaN,XO,1220,40818,946,1137,1.0,X,9,2021,NaN

##### October 2021

In [22]:
dot1 = pd.read_csv("../data/2021/Oct 2021/dot1_1021.csv")
dot1_ytd = pd.read_csv("../data/2021/Oct 2021/dot1_ytd_1021.csv")
dot2 =  pd.read_csv("../data/2021/Oct 2021/dot2_1021.csv") 
dot2_ytd = pd.read_csv("../data/2021/Oct 2021/dot2_ytd_1021.csv")
dot3 = pd.read_csv("../data/2021/Oct 2021/dot3_1021.csv")
dot3_ytd = pd.read_csv("../data/2021/Oct 2021/dot3_ytd_1021.csv")
oct_2021 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {oct_2021.shape}")
oct_2021.head()

shape of data: (1320408, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0712,5,NaN,XQ,1220,100552,0,995,2.0,X,10,2021,NaN
1,1,AK,18XX,1,XX,NaN,2010,25782,6848,0,1.0,1,10,2021,NaN
2,1,AK,20XX,3,NaN,XA,1220,37823,968,581,1.0,X,10,2021,NaN
3,1,AK,20XX,3,NaN,XA,1220,13267,17,80,2.0,X,10,2021,NaN
4,1,AK,20XX,3,NaN,XC,1220,10981,858,495,1.0,X,10,2021,NaN

##### November 2021

In [23]:
dot1 = pd.read_csv("../data/2021/Nov 2021/dot1_1121.csv")
dot1_ytd = pd.read_csv("../data/2021/Nov 2021/dot1_ytd_1121.csv")
dot2 =  pd.read_csv("../data/2021/Nov 2021/dot2_1121.csv") 
dot2_ytd = pd.read_csv("../data/2021/Nov 2021/dot2_ytd_1121.csv")
dot3 = pd.read_csv("../data/2021/Nov 2021/dot3_1121.csv")
dot3_ytd = pd.read_csv("../data/2021/Nov 2021/dot3_ytd_1121.csv")
nov_2021 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {nov_2021.shape}")
nov_2021.head()

shape of data: (1439747, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0106,5,NaN,XY,1220,62562,0,759,1.0,X,11,2021,NaN
1,1,AK,0106,8,NaN,XB,1220,2140647,0,46899,1.0,X,11,2021,NaN
2,1,AK,0115,5,NaN,XB,1220,13027,0,1193,1.0,X,11,2021,NaN
3,1,AK,07XX,3,NaN,XQ,1220,9579,2197,207,1.0,X,11,2021,NaN
4,1,AK,09XX,3,NaN,XO,1220,2572,111,79,2.0,X,11,2021,NaN

##### December 2021

In [24]:
dot1 = pd.read_csv("../data/2021/Dec 2021/dot1_1221.csv")
dot1_ytd = pd.read_csv("../data/2021/Dec 2021/dot1_ytd_1221.csv")
dot1_2021 = pd.read_csv("../data/2021/Dec 2021/dot1_2021.csv")
dot2 =  pd.read_csv("../data/2021/Dec 2021/dot2_1221.csv") 
dot2_2021 = pd.read_csv("../data/2021/Dec 2021/dot2_2021.csv")
dot2_ytd = pd.read_csv("../data/2021/Dec 2021/dot2_ytd_1221.csv")
dot3_1221 = pd.read_csv("../data/2021/Dec 2021/dot3_1221.csv")
dot3_2021 = pd.read_csv("../data/2021/Dec 2021/dot3_2021.csv")
dot3_ytd = pd.read_csv("../data/2021/Dec 2021/dot3_ytd_1221.csv")
dec_2021 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {dec_2021.shape}")
dec_2021.head()

shape of data: (1557156, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,01XX,1,NaN,XB,1220,115611,24698,3515,1.0,X,12,2021,NaN
1,1,AK,0901,5,NaN,XO,1220,14381,0,282,1.0,X,12,2021,NaN
2,1,AK,11XX,3,XX,NaN,2010,2851,7,0,2.0,0,12,2021,NaN
3,1,AK,20XX,3,NaN,XA,1220,26159,718,925,1.0,X,12,2021,NaN
4,1,AK,20XX,3,NaN,XA,1220,3086,40,60,2.0,X,12,2021,NaN

### Concatenate All 2020 Datasets

In [25]:
df_2021 = pd.concat([jan_2021,feb_2021,mar_2021,apr_2021,may_2021,june_2021,july_2021,aug_2021,sept_2021,oct_2021,nov_2021,dec_2021],axis=0)

# Check the shape of the data
print(f"shape of data: {df_2021.shape}")

shape of data: (10738272, 15)

In [26]:
# View the first few rows of the data
df_2021.head()

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,18XX,1,XX,NaN,2010,5940,1136,0,1.0,1,1,2021,NaN
1,1,AK,20XX,3,NaN,XA,1220,7490,26,155,1.0,X,1,2021,NaN
2,1,AK,20XX,3,NaN,XA,1220,24885,13,78,2.0,X,1,2021,NaN
3,1,AK,20XX,3,NaN,XC,1220,16415,139,355,1.0,X,1,2021,NaN
4,1,AK,20XX,3,NaN,XC,1220,9025,5,35,2.0,X,1,2021,NaN

### Loading the 2022 Data

##### January 2022

In [27]:
dot1 = pd.read_csv("../data/2022/Jan 2022/dot1_0122.csv")
dot1_ytd = pd.read_csv("../data/2022/Jan 2022/dot1_ytd_0122.csv")
dot2 =  pd.read_csv("../data/2022/Jan 2022/dot2_0122.csv") 
dot2_ytd = pd.read_csv("../data/2022/Jan 2022/dot2_ytd_0122.csv")
dot3 = pd.read_csv("../data/2022/Jan 2022/dot3_0122.csv")
dot3_ytd = pd.read_csv("../data/2022/Jan 2022/dot3_ytd_0122.csv")
jan_2022 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {jan_2022.shape}")
jan_2022.head()

shape of data: (231846, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0901,5,NaN,XO,1220,7042,0,137,1.0,X,1,2022,NaN
1,1,AK,20XX,3,NaN,XA,1220,117977,485,2181,1.0,X,1,2022,NaN
2,1,AK,20XX,3,NaN,XC,1220,105057,22924,8899,1.0,X,1,2022,NaN
3,1,AK,20XX,3,NaN,XO,1220,24751,32,871,1.0,X,1,2022,NaN
4,1,AK,20XX,3,NaN,XQ,1220,2773,1,130,1.0,X,1,2022,NaN

##### February 2022

In [28]:
dot1 = pd.read_csv("../data/2022/Feb 2022/dot1_0222.csv")
dot1_ytd = pd.read_csv("../data/2022/Feb 2022/dot1_ytd_0222.csv")
dot2 =  pd.read_csv("../data/2022/Feb 2022/dot2_0222.csv") 
dot2_ytd = pd.read_csv("../data/2022/Feb 2022/dot2_ytd_0222.csv")
dot3 = pd.read_csv("../data/2022/Feb 2022/dot3_0222.csv")
dot3_ytd = pd.read_csv("../data/2022/Feb 2022/dot3_ytd_0222.csv")
feb_2022 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {feb_2022.shape}")
feb_2022.head()

shape of data: (355989, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0115,5,NaN,XB,1220,6391,0,855,1.0,X,2,2022,NaN
1,1,AK,07XX,3,NaN,XO,1220,16554,5,1872,1.0,X,2,2022,NaN
2,1,AK,20XX,3,NaN,XA,1220,14213,440,394,1.0,X,2,2022,NaN
3,1,AK,20XX,3,NaN,XC,1220,67214,308,4736,1.0,X,2,2022,NaN
4,1,AK,20XX,3,NaN,XC,1220,3591,5,94,2.0,X,2,2022,NaN

##### March 2022

In [29]:
dot1 = pd.read_csv("../data/2022/March 2022/dot1_0322.csv")
dot1_ytd = pd.read_csv("../data/2022/March 2022/dot1_ytd_0322.csv")
dot2 =  pd.read_csv("../data/2022/March 2022/dot2_0322.csv") 
dot2_ytd = pd.read_csv("../data/2022/March 2022/dot2_ytd_0322.csv")
dot3 = pd.read_csv("../data/2022/March 2022/dot3_0322.csv")
dot3_ytd = pd.read_csv("../data/2022/March 2022/dot3_ytd_0322.csv")
mar_2022 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {mar_2022.shape}")
mar_2022.head()

shape of data: (490076, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0901,5,NaN,XO,1220,4247,0,1,2.0,X,3,2022,NaN
1,1,AK,19XX,1,XX,NaN,2010,100000,29022,0,1.0,0,3,2022,NaN
2,1,AK,2006,3,NaN,XC,1220,3863,115,183,2.0,X,3,2022,NaN
3,1,AK,20XX,3,NaN,XA,1220,33211,520,964,1.0,X,3,2022,NaN
4,1,AK,20XX,3,NaN,XC,1220,26208,472,1458,1.0,X,3,2022,NaN

##### April 2022

In [30]:
dot1 = pd.read_csv("../data/2022/April 2022/dot1_0422.csv")
dot1_ytd = pd.read_csv("../data/2022/April 2022/dot1_ytd_0422.csv")
dot2 =  pd.read_csv("../data/2022/April 2022/dot2_0422.csv") 
dot2_ytd = pd.read_csv("../data/2022/April 2022/dot2_ytd_0422.csv")
dot3 = pd.read_csv("../data/2022/April 2022/dot3_0422.csv")
dot3_ytd = pd.read_csv("../data/2022/April 2022/dot3_ytd_0422.csv")
apr_2022 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {apr_2022.shape}")
apr_2022.head()

shape of data: (612690, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,09XX,3,NaN,XC,1220,7091,36,644,1.0,X,4,2022,NaN
1,1,AK,19XX,1,XX,NaN,2010,39775,33470,0,1.0,0,4,2022,NaN
2,1,AK,20XX,3,NaN,XA,1220,11775,425,438,1.0,X,4,2022,NaN
3,1,AK,20XX,3,NaN,XA,1220,11103,17,37,2.0,X,4,2022,NaN
4,1,AK,20XX,3,NaN,XC,1220,45731,550,3548,1.0,X,4,2022,NaN

##### May 2022

In [31]:
dot1 = pd.read_csv("../data/2022/May 2022/dot1_0522.csv")
dot1_ytd = pd.read_csv("../data/2022/May 2022/dot1_ytd_0522.csv")
dot2 =  pd.read_csv("../data/2022/May 2022/dot2_0522.csv") 
dot2_ytd = pd.read_csv("../data/2022/May 2022/dot2_ytd_0522.csv")
dot3 = pd.read_csv("../data/2022/May 2022/dot3_0522.csv")
dot3_ytd = pd.read_csv("../data/2022/May 2022/dot3_ytd_0522.csv")
may_2022 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {may_2022.shape}")
may_2022.head()

shape of data: (737383, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,20XX,3,NaN,XA,1220,25281,318,509,1.0,X,5,2022,NaN
1,1,AK,20XX,3,NaN,XC,1220,26618,717,800,1.0,X,5,2022,NaN
2,1,AK,20XX,3,NaN,XM,1220,48172,650,153,1.0,X,5,2022,NaN
3,1,AK,20XX,3,NaN,XO,1220,58773,1142,1256,1.0,X,5,2022,NaN
4,1,AK,20XX,3,NaN,XQ,1220,215109,470,1044,1.0,X,5,2022,NaN

##### June 2022

In [32]:
dot1 = pd.read_csv("../data/2022/June 2022/dot1_0622.csv")
dot1_ytd = pd.read_csv("../data/2022/June 2022/dot1_ytd_0622.csv")
dot2 =  pd.read_csv("../data/2022/June 2022/dot2_0622.csv") 
dot2_ytd = pd.read_csv("../data/2022/June 2022/dot2_ytd_0622.csv")
dot3 = pd.read_csv("../data/2022/June 2022/dot3_0622.csv")
dot3_ytd = pd.read_csv("../data/2022/June 2022/dot3_ytd_0622.csv")
june_2022 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {june_2022.shape}")
june_2022.head()

shape of data: (862234, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,20XX,3,NaN,XA,1220,43680,750,969,1.0,X,6,2022,NaN
1,1,AK,20XX,3,NaN,XA,1220,6021,70,286,2.0,X,6,2022,NaN
2,1,AK,20XX,3,NaN,XC,1220,43917,425,2450,1.0,X,6,2022,NaN
3,1,AK,20XX,3,NaN,XM,1220,3813,9,78,1.0,X,6,2022,NaN
4,1,AK,20XX,3,NaN,XM,1220,11431,9,7,2.0,X,6,2022,NaN

##### July 2022

In [33]:
dot1 = pd.read_csv("../data/2022/July 2022/dot1_0722.csv")
dot1_ytd = pd.read_csv("../data/2022/July 2022/dot1_ytd_0722.csv")
dot2 =  pd.read_csv("../data/2022/July 2022/dot2_0722.csv") 
dot2_ytd = pd.read_csv("../data/2022/July 2022/dot2_ytd_0722.csv")
dot3 = pd.read_csv("../data/2022/July 2022/dot3_0722.csv")
dot3_ytd = pd.read_csv("../data/2022/July 2022/dot3_ytd_0722.csv")
july_2022 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {july_2022.shape}")
july_2022.head()

shape of data: (976161, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0115,5,NaN,XB,1220,4791,0,1,1.0,X,7,2022.0,NaN
1,1,AK,0712,5,NaN,XQ,1220,22245,0,195,1.0,X,7,2022.0,NaN
2,1,AK,18XX,1,XX,NaN,2010,16594,63,0,1.0,1,7,2022.0,NaN
3,1,AK,20XX,3,NaN,XA,1220,23146,414,530,1.0,X,7,2022.0,NaN
4,1,AK,20XX,3,NaN,XA,1220,10200,68,199,2.0,X,7,2022.0,NaN

##### August 2022

In [34]:
dot1 = pd.read_csv("../data/2022/August 2022/dot1_0822.csv")
dot1_ytd = pd.read_csv("../data/2022/August 2022/dot1_ytd_0822.csv")
dot2 =  pd.read_csv("../data/2022/August 2022/dot2_0822.csv") 
dot2_ytd = pd.read_csv("../data/2022/August 2022/dot2_ytd_0822.csv")
dot3 = pd.read_csv("../data/2022/August 2022/dot3_0822.csv")
dot3_ytd = pd.read_csv("../data/2022/August 2022/dot3_ytd_0822.csv")
aug_2022 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {aug_2022.shape}")
aug_2022.head()

shape of data: (1108098, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0712,5,NaN,XY,1220,11216,0,1223,1.0,X,8,2022,NaN
1,1,AK,0901,5,NaN,XO,1220,27041,0,1551,1.0,X,8,2022,NaN
2,1,AK,20XX,3,NaN,XA,1220,25847,151,216,1.0,X,8,2022,NaN
3,1,AK,20XX,3,NaN,XA,1220,23574,70,1519,2.0,X,8,2022,NaN
4,1,AK,20XX,3,NaN,XC,1220,39726,351,1161,1.0,X,8,2022,NaN

##### September 2022

In [35]:
dot1 = pd.read_csv("../data/2022/September 2022/dot1_0922.csv")
dot1_ytd = pd.read_csv("../data/2022/September 2022/dot1_ytd_0922.csv")
dot2 =  pd.read_csv("../data/2022/September 2022/dot2_0922.csv") 
dot2_ytd = pd.read_csv("../data/2022/September 2022/dot2_ytd_0922.csv")
dot3 = pd.read_csv("../data/2022/September 2022/dot3_0922.csv")
dot3_ytd = pd.read_csv("../data/2022/September 2022/dot3_ytd_0922.csv")
sept_2022 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {sept_2022.shape}")
sept_2022.head()

shape of data: (1229477, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0115,5,NaN,XB,1220,14075,0,1499,1.0,X,9,2022,NaN
1,1,AK,20XX,3,NaN,XA,1220,31593,121,395,1.0,X,9,2022,NaN
2,1,AK,20XX,3,NaN,XC,1220,120543,601,9438,1.0,X,9,2022,NaN
3,1,AK,20XX,3,NaN,XC,1220,8119,7,93,2.0,X,9,2022,NaN
4,1,AK,20XX,3,NaN,XM,1220,7570,600,74,1.0,X,9,2022,NaN

##### October 2022

In [36]:
dot1 = pd.read_csv("../data/2022/October 2022/dot1_1022.csv")
dot1_ytd = pd.read_csv("../data/2022/October 2022/dot1_ytd_1022.csv")
dot2 =  pd.read_csv("../data/2022/October 2022/dot2_1022.csv") 
dot2_ytd = pd.read_csv("../data/2022/October 2022/dot2_ytd_1022.csv")
dot3 = pd.read_csv("../data/2022/October 2022/dot3_1022.csv")
dot3_ytd = pd.read_csv("../data/2022/October 2022/dot3_ytd_1022.csv")
oct_2022 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {oct_2022.shape}")
oct_2022.head()

shape of data: (1354574, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0712,5,NaN,XQ,1220,2875,0,21,1.0,X,10,2022,NaN
1,1,AK,09XX,3,NaN,XO,1220,2568,4,65,1.0,X,10,2022,NaN
2,1,AK,20XX,3,NaN,XA,1220,94896,905,5211,1.0,X,10,2022,NaN
3,1,AK,20XX,3,NaN,XA,1220,35776,256,491,2.0,X,10,2022,NaN
4,1,AK,20XX,3,NaN,XC,1220,169358,536,11560,1.0,X,10,2022,NaN

##### November 2022

In [37]:
dot1 = pd.read_csv("../data/2022/November 2022/dot1_1122.csv")
dot1_ytd = pd.read_csv("../data/2022/November 2022/dot1_ytd_1122.csv")
dot2 =  pd.read_csv("../data/2022/November 2022/dot2_1122.csv") 
dot2_ytd = pd.read_csv("../data/2022/November 2022/dot2_ytd_1122.csv")
dot3 = pd.read_csv("../data/2022/November 2022/dot3_1122.csv")
dot3_ytd = pd.read_csv("../data/2022/November 2022/dot3_ytd_1122.csv")
nov_2022 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {nov_2022.shape}")
nov_2022.head()

shape of data: (1474497, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,01XX,3,NaN,XQ,1220,15428,2,16,1.0,X,11,2022,NaN
1,1,AK,0901,5,NaN,XO,1220,8518,0,167,2.0,X,11,2022,NaN
2,1,AK,20XX,3,NaN,XA,1220,47047,449,688,1.0,X,11,2022,NaN
3,1,AK,20XX,3,NaN,XA,1220,65938,70,824,2.0,X,11,2022,NaN
4,1,AK,20XX,3,NaN,XC,1220,52753,257,3846,1.0,X,11,2022,NaN

##### December 2022

In [38]:
dot1 = pd.read_csv("../data/2022/December 2022/dot1_1222.csv")
dot1_ytd = pd.read_csv("../data/2022/December 2022/dot1_ytd_1222.csv")
dot1_2021 = pd.read_csv("../data/2022/December 2022/dot1_2022.csv")
dot2 =  pd.read_csv("../data/2022/December 2022/dot2_1222.csv") 
dot2_2021 = pd.read_csv("../data/2022/December 2022/dot2_2022.csv")
dot2_ytd = pd.read_csv("../data/2022/December 2022/dot2_ytd_1222.csv")
dot3_1221 = pd.read_csv("../data/2022/December 2022/dot3_1222.csv")
dot3_2021 = pd.read_csv("../data/2022/December 2022/dot3_2022.csv")
dot3_ytd = pd.read_csv("../data/2022/December 2022/dot3_ytd_1222.csv")
dec_2022 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {dec_2022.shape}")
dec_2022.head()

shape of data: (1591221, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0115,5,NaN,XB,1220,6580,0,881,1.0,X,12,2022,NaN
1,1,AK,0701,5,NaN,XO,1220,2564,0,50,1.0,X,12,2022,NaN
2,1,AK,0712,5,NaN,XQ,1220,5443,0,77,1.0,X,12,2022,NaN
3,1,AK,20XX,3,NaN,XA,1220,74483,768,845,1.0,X,12,2022,NaN
4,1,AK,20XX,3,NaN,XA,1220,61255,268,442,2.0,X,12,2022,NaN

### Concatenate All the 2022 Datasets

In [39]:
df_2022 = pd.concat([jan_2022,feb_2022,mar_2022,apr_2022,may_2022,june_2022,july_2022,aug_2022,sept_2022,oct_2022,nov_2022,dec_2022],axis=0)

# Check the shape of the data
print(f"shape of data: {df_2022.shape}")

shape of data: (11024246, 15)

In [40]:
# View fiew rows of the data 
df_2022.head()

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0901,5,NaN,XO,1220,7042,0,137,1.0,X,1,2022.0,NaN
1,1,AK,20XX,3,NaN,XA,1220,117977,485,2181,1.0,X,1,2022.0,NaN
2,1,AK,20XX,3,NaN,XC,1220,105057,22924,8899,1.0,X,1,2022.0,NaN
3,1,AK,20XX,3,NaN,XO,1220,24751,32,871,1.0,X,1,2022.0,NaN
4,1,AK,20XX,3,NaN,XQ,1220,2773,1,130,1.0,X,1,2022.0,NaN

### Loading the 2023 Datasets

##### January 2023

In [41]:
dot1 = pd.read_csv("../data/2023/Jan2023/dot1_0123.csv")
dot1_ytd = pd.read_csv("../data/2023/Jan2023/dot1_ytd_0123.csv")
dot2 =  pd.read_csv("../data/2023/Jan2023/dot2_0123.csv") 
dot2_ytd = pd.read_csv("../data/2023/Jan2023/dot2_ytd_0123.csv")
dot3 = pd.read_csv("../data/2023/Jan2023/dot3_0123.csv")
dot3_ytd = pd.read_csv("../data/2023/Jan2023/dot3_ytd_0123.csv")
jan_2023 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {jan_2023.shape}")
jan_2023.head()

shape of data: (241040, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0115,5,NaN,XB,1220,6536,0,222,1.0,X,1,2023,NaN
1,1,AK,0115,5,NaN,XB,1220,10294,0,350,2.0,X,1,2023,NaN
2,1,AK,0712,5,NaN,XQ,1220,60692,0,2209,1.0,X,1,2023,NaN
3,1,AK,0901,5,NaN,XO,1220,5480,0,107,1.0,X,1,2023,NaN
4,1,AK,09XX,3,NaN,XO,1220,12284,5,240,2.0,X,1,2023,NaN

##### February 2023

In [42]:
dot1 = pd.read_csv("../data/2023/Feb2023/dot1_0223.csv")
dot1_ytd = pd.read_csv("../data/2023/Feb2023/dot1_ytd_0223.csv")
dot2 =  pd.read_csv("../data/2023/Feb2023/dot2_0223.csv") 
dot2_ytd = pd.read_csv("../data/2023/Feb2023/dot2_ytd_0223.csv")
dot3 = pd.read_csv("../data/2023/Feb2023/dot3_0223.csv")
dot3_ytd = pd.read_csv("../data/2023/Feb2023/dot3_ytd_0223.csv")
feb_2023 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {feb_2023.shape}")
feb_2023.head()

shape of data: (360940, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0712,5,NaN,XA,1220,7204,0,248,1.0,X,2,2023,NaN
1,1,AK,0712,5,NaN,XQ,1220,175723,0,1740,2.0,X,2,2023,NaN
2,1,AK,18XX,1,XX,NaN,2010,10244,1512,0,1.0,1,2,2023,NaN
3,1,AK,20XX,3,NaN,XA,1220,61247,298,539,1.0,X,2,2023,NaN
4,1,AK,20XX,3,NaN,XA,1220,248831,268,4496,2.0,X,2,2023,NaN

##### March 2023

In [43]:
dot1 = pd.read_csv("../data/2023/March2023/dot1_0323.csv")
dot1_ytd = pd.read_csv("../data/2023/March2023/dot1_ytd_0323.csv")
dot2 =  pd.read_csv("../data/2023/March2023/dot2_0323.csv") 
dot2_ytd = pd.read_csv("../data/2023/March2023/dot2_ytd_0323.csv")
dot3 = pd.read_csv("../data/2023/March2023/dot3_0323.csv")
dot3_ytd = pd.read_csv("../data/2023/March2023/dot3_ytd_0323.csv")
mar_2023 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {mar_2023.shape}")
mar_2023.head()

shape of data: (495254, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,09XX,3,NaN,XO,1220,4102,42,73,1.0,X,3,2023,NaN
1,1,AK,09XX,3,NaN,XQ,1220,53394,315,150,1.0,X,3,2023,NaN
2,1,AK,20XX,3,NaN,XA,1220,27379,442,283,1.0,X,3,2023,NaN
3,1,AK,20XX,3,NaN,XA,1220,46762,302,365,2.0,X,3,2023,NaN
4,1,AK,20XX,3,NaN,XC,1220,130494,284,10922,1.0,X,3,2023,NaN

##### April 2023

In [44]:
dot1 = pd.read_csv("../data/2023/April2023/dot1_0423.csv")
dot1_ytd = pd.read_csv("../data/2023/April2023/dot1_ytd_0423.csv")
dot2 =  pd.read_csv("../data/2023/April2023/dot2_0423.csv") 
dot2_ytd = pd.read_csv("../data/2023/April2023/dot2_ytd_0423.csv")
dot3 = pd.read_csv("../data/2023/April2023/dot3_0423.csv")
dot3_ytd = pd.read_csv("../data/2023/April2023/dot3_ytd_0423.csv")
apr_2023 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {apr_2023.shape}")
apr_2023.head()

shape of data: (613780, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0708,5,NaN,XQ,1220,21046,0,412,2.0,X,4,2023,NaN
1,1,AK,07XX,3,NaN,XO,1220,185454,310,3337,1.0,X,4,2023,NaN
2,1,AK,09XX,3,NaN,XQ,1220,21660,51,226,1.0,X,4,2023,NaN
3,1,AK,2006,3,NaN,XQ,1220,5053,5,99,2.0,X,4,2023,NaN
4,1,AK,20XX,3,NaN,XA,1220,51328,675,1271,1.0,X,4,2023,NaN

##### May 2023

In [45]:
dot1 = pd.read_csv("../data/2023/May2023/dot1_0523.csv")
dot1_ytd = pd.read_csv("../data/2023/May2023/dot1_ytd_0523.csv")
dot2 =  pd.read_csv("../data/2023/May2023/dot2_0523.csv") 
dot2_ytd = pd.read_csv("../data/2023/May2023/dot2_ytd_0523.csv")
dot3 = pd.read_csv("../data/2023/May2023/dot3_0523.csv")
dot3_ytd = pd.read_csv("../data/2023/May2023/dot3_ytd_0523.csv")
may_2023 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {may_2023.shape}")
may_2023.head()

shape of data: (742734, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0712,5,NaN,XQ,1220,364951,0,3613,2.0,X,5,2023,NaN
1,1,AK,0712,5,NaN,XW,1220,2647,0,0,1.0,X,5,2023,NaN
2,1,AK,0901,5,NaN,XO,1220,6316,0,123,1.0,X,5,2023,NaN
3,1,AK,19XX,1,XX,NaN,2010,65268,38860,0,1.0,0,5,2023,NaN
4,1,AK,2006,3,NaN,XM,1220,2782,14,7,1.0,X,5,2023,NaN

##### June 2023

In [46]:
dot1 = pd.read_csv("../data/2023/June2023/dot1_0623.csv")
dot1_ytd = pd.read_csv("../data/2023/June2023/dot1_ytd_0623.csv")
dot2 =  pd.read_csv("../data/2023/June2023/dot2_0623.csv") 
dot2_ytd = pd.read_csv("../data/2023/June2023/dot2_ytd_0623.csv")
dot3 = pd.read_csv("../data/2023/June2023/dot3_0623.csv")
dot3_ytd = pd.read_csv("../data/2023/June2023/dot3_ytd_0623.csv")
june_2023 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {june_2023.shape}")
june_2023.head()

shape of data: (868372, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0712,5,NaN,XC,1220,6285,0,136,1.0,X,6,2023,NaN
1,1,AK,0712,5,NaN,XQ,1220,352054,0,3207,1.0,X,6,2023,NaN
2,1,AK,0901,5,NaN,XA,1220,16580,0,74,1.0,X,6,2023,NaN
3,1,AK,0901,5,NaN,XC,1220,26768,0,524,2.0,X,6,2023,NaN
4,1,AK,0901,5,NaN,XY,1220,1211546,0,6581,2.0,X,6,2023,NaN

##### July 2023

In [47]:
dot1 = pd.read_csv("../data/2023/July2023/dot1_0723.csv")
dot1_ytd = pd.read_csv("../data/2023/July2023/dot1_ytd_0723.csv")
dot2 =  pd.read_csv("../data/2023/July2023/dot2_0723.csv") 
dot2_ytd = pd.read_csv("../data/2023/July2023/dot2_ytd_0723.csv")
dot3 = pd.read_csv("../data/2023/July2023/dot3_0723.csv")
dot3_ytd = pd.read_csv("../data/2023/July2023/dot3_ytd_0723.csv")
july_2023 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {july_2023.shape}")
july_2023.head()

shape of data: (988325, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0708,5,NaN,XO,1220,64483,0,90,2.0,X,7,2023,NaN
1,1,AK,0901,5,NaN,XO,1220,11740,0,559,1.0,X,7,2023,NaN
2,1,AK,20XX,3,NaN,XA,1220,61109,40,705,1.0,X,7,2023,NaN
3,1,AK,20XX,3,NaN,XA,1220,2557,15,56,2.0,X,7,2023,NaN
4,1,AK,20XX,3,NaN,XC,1220,128833,573,9958,1.0,X,7,2023,NaN

##### August 2023

In [48]:
dot1 = pd.read_csv("../data/2023/Aug2023/dot1_0823.csv")
dot1_ytd = pd.read_csv("../data/2023/Aug2023/dot1_ytd_0823.csv")
dot2 =  pd.read_csv("../data/2023/Aug2023/dot2_0823.csv") 
dot2_ytd = pd.read_csv("../data/2023/Aug2023/dot2_ytd_0823.csv")
dot3 = pd.read_csv("../data/2023/Aug2023/dot3_0823.csv")
dot3_ytd = pd.read_csv("../data/2023/Aug2023/dot3_ytd_0823.csv")
aug_2023 = pd.concat([dot1,dot1_ytd,dot2,dot2_ytd,dot3,dot3_ytd],axis=0)
print(f"shape of data: {aug_2023.shape}")
aug_2023.head()

shape of data: (1115956, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0712,5,NaN,XQ,1220,203269,0,2012,2.0,X,8,2023,NaN
1,1,AK,0901,5,NaN,XO,1220,989839,0,3518,1.0,X,8,2023,NaN
2,1,AK,09XX,3,NaN,XO,1220,10100,31,198,1.0,X,8,2023,NaN
3,1,AK,20XX,3,NaN,XA,1220,40928,259,737,1.0,X,8,2023,NaN
4,1,AK,20XX,3,NaN,XA,1220,48790,172,931,2.0,X,8,2023,NaN

##### September 2023

In [49]:
dot1 = pd.read_csv("../data/2023/sept2023/dot1_0923.csv")
dot2 =  pd.read_csv("../data/2023/sept2023/dot2_0923.csv") 
dot3 = pd.read_csv("../data/2023/sept2023/dot3_0923.csv")
sept_2023 = pd.concat([dot1,dot2,dot3],axis=0)
print(f"shape of data: {sept_2023.shape}")
sept_2023.head()

shape of data: (123545, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,01XX,1,NaN,XB,1220,730029,154980,15992,1.0,X,9,2023,NaN
1,1,AK,0708,5,NaN,XO,1220,103176,0,73,2.0,X,9,2023,NaN
2,1,AK,0901,5,NaN,XO,1220,6955,0,136,1.0,X,9,2023,NaN
3,1,AK,09XX,3,NaN,XC,1220,4826,12,95,1.0,X,9,2023,NaN
4,1,AK,19XX,1,XX,NaN,2010,39690,24780,0,1.0,0,9,2023,NaN

##### October 2023

In [50]:
dot1 = pd.read_csv("../data/2023/Oct2023/dot1_1023.csv")
dot2 =  pd.read_csv("../data/2023/Oct2023/dot2_1023.csv") 
dot3 = pd.read_csv("../data/2023/Oct2023/dot3_1023.csv")
oct_2023 = pd.concat([dot1,dot2,dot3],axis=0)
print(f"shape of data: {oct_2023.shape}")
oct_2023.head()

shape of data: (125283, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0708,5,NaN,XQ,1220,24775,0,145,2.0,X,10,2023,NaN
1,1,AK,0712,5,NaN,XQ,1220,14546,0,379,1.0,X,10,2023,NaN
2,1,AK,0712,5,NaN,XQ,1220,364290,0,3607,2.0,X,10,2023,NaN
3,1,AK,0901,5,NaN,XO,1220,18827,0,1538,1.0,X,10,2023,NaN
4,1,AK,20XX,3,NaN,XA,1220,15656,207,339,1.0,X,10,2023,NaN

##### November 2023

In [51]:
dot1 = pd.read_csv("../data/2023/Nov2023/dot1_1123.csv")
dot2 =  pd.read_csv("../data/2023/Nov2023/dot2_1123.csv") 
dot3 = pd.read_csv("../data/2023/Nov2023/dot3_1123.csv")
nov_2023 = pd.concat([dot1,dot2,dot3],axis=0)
print(f"shape of data: {nov_2023.shape}")
nov_2023.head()

shape of data: (123788, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,09XX,3,NaN,XC,1220,37034,87,725,1.0,X,11,2023,NaN
1,1,AK,20XX,3,NaN,XA,1220,65178,479,1225,1.0,X,11,2023,NaN
2,1,AK,20XX,3,NaN,XA,1220,29689,142,584,2.0,X,11,2023,NaN
3,1,AK,20XX,3,NaN,XC,1220,128179,1852,2300,1.0,X,11,2023,NaN
4,1,AK,20XX,3,NaN,XC,1220,27935,19,216,2.0,X,11,2023,NaN

##### December 2023

In [52]:
dot1 = pd.read_csv("../data/2023/December2023/dot1_1223.csv")
dot2 =  pd.read_csv("../data/2023/December2023/dot2_1223.csv") 
dot3 = pd.read_csv("../data/2023/December2023/dot3_1223.csv")
dec_2023 = pd.concat([dot1,dot2,dot3],axis=0)
print(f"shape of data: {dec_2023.shape}")
dec_2023.head()

shape of data: (120152, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0708,5,NaN,XO,1220,25825,0,74,2.0,X,12,2023,NaN
1,1,AK,20XX,3,NaN,XA,1220,57380,128,1223,1.0,X,12,2023,NaN
2,1,AK,20XX,3,NaN,XA,1220,9635,16,188,2.0,X,12,2023,NaN
3,1,AK,20XX,3,NaN,XC,1220,431674,463,8169,1.0,X,12,2023,NaN
4,1,AK,20XX,3,NaN,XC,1220,12598,27,281,2.0,X,12,2023,NaN

#### Concatenate All the 2023 Datasets

In [53]:
df_2023 = pd.concat([jan_2023,feb_2023,mar_2023,apr_2023,may_2023,june_2023,july_2023,aug_2023,sept_2023,oct_2023,nov_2023,dec_2023],axis=0)

# Check the shape of the data
print(f"shape of data: {df_2023.shape}")

shape of data: (5919169, 15)

In [54]:
# View first few rows of dataset
df_2023.head()

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0115,5,NaN,XB,1220,6536,0,222,1.0,X,1,2023,NaN
1,1,AK,0115,5,NaN,XB,1220,10294,0,350,2.0,X,1,2023,NaN
2,1,AK,0712,5,NaN,XQ,1220,60692,0,2209,1.0,X,1,2023,NaN
3,1,AK,0901,5,NaN,XO,1220,5480,0,107,1.0,X,1,2023,NaN
4,1,AK,09XX,3,NaN,XO,1220,12284,5,240,2.0,X,1,2023,NaN

### Loading the 2024 Datasets

##### January 2024

In [55]:
dot1 = pd.read_csv("../data/2024/Jan2024/dot1_0124.csv")
dot2 =  pd.read_csv("../data/2024/Jan2024/dot2_0124.csv") 
dot3 = pd.read_csv("../data/2024/Jan2024/dot3_0124.csv")
jan_2024 = pd.concat([dot1,dot2,dot3],axis=0)
print(f"shape of data: {jan_2024.shape}")
jan_2024.head()

shape of data: (120921, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0708,5,NaN,XO,1220,24865,0,74,2.0,X,1,2024,NaN
1,1,AK,0712,5,NaN,XM,1220,9990,0,1,1.0,X,1,2024,NaN
2,1,AK,0901,5,NaN,XO,1220,20374,0,392,1.0,X,1,2024,NaN
3,1,AK,2006,3,NaN,XC,1220,12373,39,236,1.0,X,1,2024,NaN
4,1,AK,20XX,3,NaN,XA,1220,40263,1822,408,1.0,X,1,2024,NaN

##### February 2024

In [56]:
dot1 = pd.read_csv("../data/2024/Feb2024/dot1_0224.csv")
dot2 =  pd.read_csv("../data/2024/Feb2024/dot2_0224.csv") 
dot3 = pd.read_csv("../data/2024/Feb2024/dot3_0224.csv")
feb_2024 = pd.concat([dot1,dot2,dot3],axis=0)
print(f"shape of data: {feb_2024.shape}")
feb_2024.head()

shape of data: (123680, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0206,5,NaN,XY,1220,11210,0,1222,1.0,X,2,2024,NaN
1,1,AK,0712,5,NaN,XO,1220,4339,0,449,1.0,X,2,2024,NaN
2,1,AK,07XX,3,NaN,XQ,1220,15484,7,33,1.0,X,2,2024,NaN
3,1,AK,09XX,3,NaN,XC,1220,146432,3394,2850,1.0,X,2,2024,NaN
4,1,AK,20XX,3,NaN,XA,1220,53970,803,908,1.0,X,2,2024,NaN

##### March 2024

In [57]:
dot1 = pd.read_csv("../data/2024/March2024/dot1_0324.csv")
dot2 =  pd.read_csv("../data/2024/March2024/dot2_0324.csv") 
mar_2024 = pd.concat([dot1,dot2],axis=0)
print(f"shape of data: {mar_2024.shape}")
mar_2024.head()

shape of data: (108207, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0712,5,NaN,XY,1220,10290,0,306,1.0,X,3,2024,NaN
1,1,AK,0901,5,NaN,XO,1220,11957,0,262,2.0,X,3,2024,NaN
2,1,AK,09XX,3,NaN,XC,1220,355574,1072,8052,1.0,X,3,2024,NaN
3,1,AK,19XX,1,XX,NaN,2010,18550,13070,0,1.0,0,3,2024,NaN
4,1,AK,20XX,3,NaN,XA,1220,47636,225,944,1.0,X,3,2024,NaN

##### April 2024

In [58]:
dot1 = pd.read_csv("../data/2024/April2024/dot1_0424.csv")
dot2 =  pd.read_csv("../data/2024/April2024/dot2_0424.csv") 
dot3 = pd.read_csv("../data/2024/April2024/dot3_0424.csv")
apr_2024 = pd.concat([dot1,dot2,dot3],axis=0)
print(f"shape of data: {apr_2024.shape}")
apr_2024.head()

shape of data: (127944, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0712,5,NaN,XQ,1220,14609,0,286,1.0,X,4,2024,NaN
1,1,AK,0901,5,NaN,XY,1220,26482,0,26,1.0,X,4,2024,NaN
2,1,AK,19XX,1,XX,NaN,2010,72786,40210,0,1.0,0,4,2024,NaN
3,1,AK,20XX,3,NaN,XA,1220,111914,775,980,1.0,X,4,2024,NaN
4,1,AK,20XX,3,NaN,XA,1220,24831,63,178,2.0,X,4,2024,NaN

#### May 2024

In [59]:
dot1 = pd.read_csv("../data/2024/May2024/dot1_0524.csv")
dot2 =  pd.read_csv("../data/2024/May2024/dot2_0524.csv") 
dot3 = pd.read_csv("../data/2024/May2024/dot3_0524.csv")
may_2024 = pd.concat([dot1,dot2,dot3],axis=0)
print(f"shape of data: {may_2024.shape}")
may_2024.head()

shape of data: (127510, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0708,5,NaN,XA,1220,3791,0,24,1.0,X,5,2024,NaN
1,1,AK,07XX,3,NaN,XY,1220,1190078,2250,25846,2.0,X,5,2024,NaN
2,1,AK,0901,5,NaN,XO,1220,4768,0,93,1.0,X,5,2024,NaN
3,1,AK,19XX,1,XX,NaN,2010,2243957,2253960,0,1.0,0,5,2024,NaN
4,1,AK,20XX,3,NaN,XA,1220,136807,559,2640,1.0,X,5,2024,NaN

##### June 2024

In [60]:
dot1 = pd.read_csv("../data/2024/June2024/dot1_0624.csv")
dot2 =  pd.read_csv("../data/2024/June2024/dot2_0624.csv") 
dot3 = pd.read_csv("../data/2024/June2024/dot3_0624.csv")
june_2024 = pd.concat([dot1,dot2,dot3],axis=0)
print(f"shape of data: {june_2024.shape}")
june_2024.head()

shape of data: (124792, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0206,5,NaN,XY,1220,10340,0,307,1.0,X,6,2024,NaN
1,1,AK,07XX,3,NaN,XQ,1220,70007,226,691,2.0,X,6,2024,NaN
2,1,AK,0901,5,NaN,XY,1220,26683,0,26,2.0,X,6,2024,NaN
3,1,AK,09XX,3,NaN,XQ,1220,7391,536,145,1.0,X,6,2024,NaN
4,1,AK,2006,3,NaN,XM,1220,11586,1,7,1.0,X,6,2024,NaN

##### July 2024

In [61]:
dot1 = pd.read_csv("../data/2024/July2024/dot1_0724.csv")
dot2 =  pd.read_csv("../data/2024/July2024/dot2_0724.csv") 
dot3 = pd.read_csv("../data/2024/July2024/dot3_0724.csv")
july_2024 = pd.concat([dot1,dot2,dot3],axis=0)
print(f"shape of data: {july_2024.shape}")
july_2024.head()

shape of data: (125835, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0712,5,NaN,XQ,1220,4006,0,59,2.0,X,7,2024,NaN
1,1,AK,2006,3,NaN,XM,1220,2830,7,0,1.0,X,7,2024,NaN
2,1,AK,20XX,3,NaN,XA,1220,92866,425,1571,1.0,X,7,2024,NaN
3,1,AK,20XX,3,NaN,XC,1220,287115,12068,5173,1.0,X,7,2024,NaN
4,1,AK,20XX,3,NaN,XC,1220,10163,75,87,2.0,X,7,2024,NaN

##### August 2024

In [62]:
dot1 = pd.read_csv("../data/2024/August2024/dot1_0824.csv")
dot2 =  pd.read_csv("../data/2024/August2024/dot2_0824.csv") 
dot3 = pd.read_csv("../data/2024/August2024/dot3_0824.csv")
aug_2024 = pd.concat([dot1,dot2,dot3],axis=0)
print(f"shape of data: {aug_2024.shape}")
aug_2024.head()

shape of data: (126086, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0708,5,NaN,XO,1220,25279,0,73,2.0,X,8,2024,NaN
1,1,AK,07XX,3,NaN,XA,1220,11410,36,1006,2.0,X,8,2024,NaN
2,1,AK,0901,5,NaN,XO,1220,10364,0,224,1.0,X,8,2024,NaN
3,1,AK,19XX,1,XX,NaN,2010,373355,334410,0,1.0,0,8,2024,NaN
4,1,AK,20XX,3,NaN,XA,1220,37979,92,306,1.0,X,8,2024,NaN

##### September 2024

In [63]:
dot1 = pd.read_csv("../data/2024/september2024/dot1_0924.csv")
dot2 =  pd.read_csv("../data/2024/september2024/dot2_0924.csv") 
dot3 = pd.read_csv("../data/2024/september2024/dot3_0924.csv")
sept_2024 = pd.concat([dot1,dot2,dot3],axis=0)
print(f"shape of data: {sept_2024.shape}")
sept_2024.head()

shape of data: (123568, 15)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0115,5,NaN,XB,1220,680793,0,14915,1.0,X,9,2024,NaN
1,1,AK,01XX,1,NaN,XB,1220,83377,66318,2842,1.0,X,9,2024,NaN
2,1,AK,07XX,3,NaN,XO,1220,93057,74,2772,1.0,X,9,2024,NaN
3,1,AK,0901,6,NaN,XO,1220,70218,0,695,1.0,X,9,2024,NaN
4,1,AK,2006,3,NaN,XM,1220,10397,33,0,1.0,X,9,2024,NaN

### Concatenate All 2024 Datasets

In [64]:
df_2024 = pd.concat([jan_2024,feb_2024,mar_2024,apr_2024,may_2024,june_2024,july_2024,aug_2024,sept_2024],axis=0)

# Check the shape of the data
print(f"shape of data: {df_2024.shape}")

shape of data: (1108543, 15)

In [65]:
# Load first few rows
df_2024.head()

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0708,5,NaN,XO,1220,24865,0,74,2.0,X,1,2024,NaN
1,1,AK,0712,5,NaN,XM,1220,9990,0,1,1.0,X,1,2024,NaN
2,1,AK,0901,5,NaN,XO,1220,20374,0,392,1.0,X,1,2024,NaN
3,1,AK,2006,3,NaN,XC,1220,12373,39,236,1.0,X,1,2024,NaN
4,1,AK,20XX,3,NaN,XA,1220,40263,1822,408,1.0,X,1,2024,NaN

### Combine All the Datasets In the Years

In [66]:
# concate all the datasets for the five years
final_df = pd.concat([df_2020,df_2021,df_2022,df_2023,df_2024], axis=0)

# check the shape of the final dataframe
final_df.shape

(34894997, 15)

In [67]:
# Load some few data
final_df.head()

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,07XX,3,NaN,XA,1220,3302,378,125,1.0,X,1,2020.0,NaN
1,1,AK,20XX,3,NaN,XA,1220,133362,137,1563,1.0,X,1,2020.0,NaN
2,1,AK,20XX,3,NaN,XA,1220,49960,66,2631,2.0,X,1,2020.0,NaN
3,1,AK,20XX,3,NaN,XC,1220,21184,3418,795,1.0,X,1,2020.0,NaN
4,1,AK,20XX,3,NaN,XM,1220,4253,2,75,1.0,X,1,2020.0,NaN

### Data Understanding

### Exploratory Data Analysis

#### Univariate Analysis

### Bivariate Analysis

#### Multivariate Analysis

### Data Cleaning

### Data Preparation

### Hypothesis Testing

### Answering Business Questions

### Dashboarding

### Conclusion